body {
  padding-top: 15px;
  background-color: #d1994a;
}

.Changes {
  text-align: center;
}

.Changes-header {
  background-color: #d1994a;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
