body {
  padding-top: 15px;
  background-color: #d1994a;
}

.with-margin {
  margin-bottom: 10px;
}

.Menu {
  text-align: center;
}

.dropdown-toggle:enabled,
.open .dropdown-toggle {
  background: #642b09 !important;
  border-color: #642b09 !important;
  color: #ffffff !important;
}

.Menu-header {
  background-color: #d1994a;
  font-size: calc(10px + 2vmin);
}
